.table-style {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    text-align: left;
  }
  
  .table-style th, .table-style td {
    border: 1px solid #dddddd;
    padding: 12px;
  }
  
  .table-style th {
    background-color: #0073e6;  /* Azul oscuro */
    color: white;
  }
  
  .row-high {
    background-color: #cce6ff;  /* Azul claro */
  }
  
  .row-medium {
    background-color: #99ccff;  /* Azul medio */
  }
  
  .row-low {
    background-color: #66b2ff;  /* Azul más intenso */
  }
  
  .table-style tr:hover {
    background-color: #4da6ff;  /* Color de fondo al pasar el cursor */
  }
  
  
  